@font-face {
    font-family: 'Designer' ;
    src: url(../fonte/Designer.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3a85b3;
    
}
main{
    background-color: #bad4e4;
    margin: auto;
    width: 77%;
    
    
}
main > h1{
    border-radius: 2px;
    background-color:#394f5d ;
    text-align: center;
    font:normal italic 5em Designer,Calibri,Arial ;
    color: white;
    width: 667px;
    
    padding-bottom: 3px;
    margin: auto;
}

div#music{
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.378) ;
    width: 651px;
    margin: auto;
    padding: 15px 8px 25px 8px;
    text-align: center;
    font: normal italic 1.5em Arial, Helvetica, sans-serif;
}

audio{
    margin-top: 18px;
    
}
div#containerImg{
    width: 665px;
    max-width: 100%;
}
img#foryou{
    border-radius: 1px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.378) ;
    margin: auto;
    display: flex;
    max-width: 100%;
    min-width: 320px;
    height: auto;
    
}
div#areafan{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.378) ;
    border-radius: 2px;
    background-color: white;
    width: 652px;;
    margin: auto;
    padding: 15px 8px 25px 8px;
}
div#areafan > p {
    font:normal 14px Arial, Helvetica, sans-serif;
    margin-left: 25px;
}
input#buttonLike{
    overflow: hidden;
    background-color: rgba(250, 166, 166, 0.928);
    border: 1px solid rgba(0, 0, 0, 0.222);
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.119);
    cursor: pointer;
    padding: 5px 10px 5px 10px ;
    margin-top: 15px;
    margin-bottom: 22px;
    margin-right: 50px;
    margin-left: 25px;
    font:normal 2em Calibri,Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.106);
    transition: .1s;
    
}
input#buttonLike:hover{
    padding: 6px 10px 6px 11px ;
}
input#buttonLike:active{
    background-color: rgba(235, 70, 70, 0.862);
    font:normal 1.8em Arial, Helvetica, sans-serif;
}
input[type=text]{
    font: normal 1.2em Arial;
    border: 1px solid rgba(0, 0, 0, 0.442);
    border-radius: 5px;
    width: 190px;
    height: 35px;
    overflow: hidden;
    padding-left: 15px;
}
input#buttonComment{
    background-color: #bfd3e0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.332);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.173);
    padding: 4px 8px 4px 8px ;
    font:normal 19px calibri,Arial, Helvetica, sans-serif;
    margin-left: 20px;
    overflow: hidden;
    transition: .1s;
}
input#buttonComment:hover{
    
    padding: 5px 9px 5px 9px ;
}
input#buttonComment:active{
    background-color: #9aacb8;
    font:normal 18px Arial, Helvetica, sans-serif;
}
div#areaComment{
    margin-top: 16px;
    margin-left: 25px;
}
select#spaceComment{
    width: 450px;
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 25px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    font-size: 1.1em;
}