@font-face {
    font-family: 'Designer' ;
    src: url(../fonte/Designer.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3a85b3;
    
}
main{
    background-color: #bad4e4;
    margin: auto;
    width: 77%;
    
}
main > h1{
    text-align: center;
    font-family: Designer ;
    color: white;
}

div#music{
    border-radius: 4px;
    background-color: white;
    width: 334px;
    margin: auto;
    padding: 15px 8px 25px 8px;
    text-align: center;
    
}
audio{
    margin-top: 10px;
}
img#foryou{
    width: 347px;
    
    margin: auto;
    display: flex;
}
div#areafan{
    border-radius: 4px;
    background-color: white;
    width: 334px;
    margin: auto;
    padding: 15px 8px 25px 8px;
}
input#buttonLike{
    overflow: hidden;
    background-color: rgba(253, 229, 229, 0.862);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.222);
    cursor: pointer;
    padding: 5px 10px 5px 10px ;
    margin-bottom: 12px;
    margin-right: 50px;
    font:normal 19px Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.225);
    
}
input#buttonLike:hover{
    padding: 6px 10px 6px 11px ;
}
input#buttonLike:active{
    background-color: rgba(246, 180, 180, 0.862);
    font:normal 18px Arial, Helvetica, sans-serif;
}
input[type=text]{
    height: 30px;
}
input#buttonComment{
    margin-left: 20px;
}